.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: left;
    border: 2px solid black;
    width: 500px;
    margin: 10px;
}
.flex-container div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px;
}
#theDiv, #theDivBis{
    height: 100px;
}